Datasheets/.DS_Store
Hardware/Desktop Thermometer USB-2/~Desktop Thermometer USB-2.kicad_pcb.lck
Hardware/.DS_Store
Hardware/Desktop Thermometer USB-2/.DS_Store
Hardware/Desktop Thermometer USB-C/.DS_Store
Hardware/Desktop Thermometer USB-C/Schematic Symbols.bak
Firmware/.DS_Store
Firmware/build
Firmware/dist
Firmware/nbproject/private
Firmware/nbproject/Makefile-local-default.mk
Firmware/nbproject/Makefile-genesis.properties
.DS_Store
Hardware/Desktop Thermometer USB-2/fp-info-cache
Hardware/Desktop Thermometer USB-2/Desktop Thermometer USB-2.kicad_prl
Hardware/Desktop Thermometer USB-C/Desktop Thermometer USB-C.kicad_prl
